.total{
    color:crimson;
}

.centrado{
    text-align: center;
}

.decision{
    font-size: 30px;
    background-color: cornflowerblue;
    color: darkred;
}

.win{
    box-shadow: 5px 5px 5px yellow;
}

#encabezado{
    background-color: gold;
}

.extra[lang="es"]{
    color: blueviolet;
}

a[href$=".html"]{
    border: 2px dashed greenyellow;
}

.punto{
    color: navy;
    font-size: 75px;
}